:root {
	--greenBackground: #05ac6a;
	--secondaryGreen: #0cb6734d;
	--primaryGreen: #0cb673;
	--primaryGradient: 90deg, #05ac6a 0%, #c5c6c5 32.81%, #c5c6c5 100%;
}

.wrapper {
	background-image: url('./assets/BackgroundImage.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.audio-player {
	 //исправить
	width: 500px;
	height: 200px;
	display: flex;
	position: relative;
	border-radius: 8px;
	background: #d9d9d9;
	box-shadow: 0px 0px 8px 2px #1c274c;
	padding: 10px 10px;
	background-image: url('./assets/Word_A.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	// transform: translate(50%, 50%);

	&__controls {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin: 0 10px 0px 0px;
	}

	&__button {
		cursor: pointer;
		border-radius: 50%;
		background-color: var(--secondaryGreen);
		border: none;
		padding: 8px 10px;
		margin: 0px 2px 8px;
		transition: background-color 0.3s ease, transform 0.2s ease;
		box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

		&:hover {
			background-color: var(--secondaryGreen);
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
		}

		&:active {
			transform: scale(0.95);
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 10px;
		padding: 12px 0px 15px;
	}

	&__volume {
		// Стилизация блока громкости
		display: flex;
		align-items: center;
		> input {
			margin: 0px 5px;
		}
	}

	&__volume-range {
		// Стилизация ползунка громкости
		width: 238px ;
		
	}
	&__progress {
		width: 313px;
		// Стилизация трека
	}

	&__track-title {
		// Стилизация названия трека
		height: 50px;
		width: 300px;
		font-size: 20px;
		display: -webkit-box;
		-webkit-line-clamp: 2; // количество строк
		-webkit-box-orient: vertical;
		overflow: hidden;
		
	}

	&__progress,
	&__volume-range {
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			background: linear-gradient(var(--primaryGradient));
		}

		&::-moz-range-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			background: linear-gradient(var(--primaryGradient));
		}

		&::-ms-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			background: linear-gradient(var(--primaryGradient));
		}

		// Стилизация ползунка
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: var(--greenBackground);
			cursor: pointer;
			border-radius: 50%;
			margin-top: -6px;
		}

		&::-moz-range-thumb {
			width: 20px;
			height: 20px;
			background: var(--greenBackground);
			cursor: pointer;
			border-radius: 50%;
			border: none;
		}

		&::-ms-thumb {
			width: 20px;
			height: 20px;
			background: var(--greenBackground);
			cursor: pointer;
			border-radius: 50%;
		}
	}

	&__cover {
		width: 280px;
		height: 280px;
		object-fit: cover;
		border-radius: 50%;

		position: absolute;
		right: -165px;
		top: -45px;

		&--rotating {
			animation: spin 2s linear infinite;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
